/* Estilos para o mapa */
.map-wrapper {
    width: 100%;
    /* Altura fluida para o mapa */
    height: 60dvh;
}

.map-container-leaflet {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 1; /* Garante que a camada do mapa esteja acima do fundo */
}

.map-card-full {
    height: 80dvh;
}

/* Garante que o contêiner do mapa do Leaflet ocupe todo o espaço */
.leaflet-container {
    height: 100%;
    width: 100%;
}

/* Estilos para o cabeçalho do mapa */
.map-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* --- Media Query para dispositivos com largura de até 576px --- */
@media (max-width: 576px) {
    .map-wrapper {
        height: 50dvh; /* Altura menor para se adequar melhor a telas pequenas */
    }

    .map-card-full {
        height: 60dvh; /* Altura ajustada para não dominar a tela */
    }

    .map-header {
        flex-direction: column; /* Empilha os itens do cabeçalho */
        gap: 0.5rem; /* Adiciona espaçamento entre os elementos */
        margin-bottom: 0.75rem; /* Reduz a margem inferior */
        text-align: center; /* Centraliza o texto e os ícones */
    }

    .map-container-leaflet {
        border-radius: 0.75rem;
        height: 53dvh;
    }
}