# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
*_errors.log
*_errors.txt
test_output.txt
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.sw?
.env

# Test
coverage
test_output.txt
test-results
junit.xml

# Misc
.DS_Store
*.suo
*.ntvs*
*.njsproj
.env

# Testing
coverage/